h1 {
    text-align: center;
    color: violet;
    font-size: 50px;
}
body {
    background-color: bisque;
}
p {
    font-size: 20px;
}
.picture {
    max-width: 40%;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}
footer {
    text-align: center;
    display: block;
    unicode-bidi: isolate;
}